<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufba.swimin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ufba.swimin.HomeCoachActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ufba.swimin.CronometerActivity" >
        </activity>
        <activity
            android:name="com.ufba.swimin.TrainingActivity"
            android:label="@string/treino"
            android:parentActivityName="com.ufba.swimin.HomeCoachActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.HomeCoachActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.StatisticsActivity"
            android:label="@string/estatisticas"
            android:parentActivityName="com.ufba.swimin.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.ProfileActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.ProfileActivity"
            android:label="@string/perfil"
            android:parentActivityName="com.ufba.swimin.HomeCoachActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.HomeCoachActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.Premios"
            android:label="@string/premios"
            android:parentActivityName="com.ufba.swimin.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.ProfileActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.UserListActivity"
            android:label="@string/usuarios"
            android:parentActivityName="com.ufba.swimin.HomeCoachActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.HomeCoachActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.Ranking"
            android:label="@string/ranking"
            android:parentActivityName="com.ufba.swimin.HomeCoachActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.HomeCoachActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName="com.ufba.swimin.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.ProfileActivity" />
        </activity>
        <activity
            android:name="com.ufba.swimin.AddAtleta"
            android:label="@string/title_activity_add_atleta"
            android:parentActivityName="com.ufba.swimin.HomeCoachActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufba.swimin.HomeCoachActivity" />          
        </activity>
    </application>

</manifest>
